In [93]:
import sqlalchemy as alch
import pandas as pd
from getpass import getpass
import sys
sys.path.append('../')

import src.insert_functions as ins

### Importo csv:

In [94]:
quotes = pd.read_csv("../data/Quotes2.csv", sep=";")

In [95]:
quotes.sample()

                                 QUOTE           AUTHOR  GENRE
13334  Everything that gets born dies.  Morrie Schwartz  death

In [96]:
quotes.shape

(75966, 3)

In [97]:
quotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75966 entries, 0 to 75965
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   QUOTE   75966 non-null  object
 1   AUTHOR  75966 non-null  object
 2   GENRE   75966 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB

In [98]:
pd.isna(quotes).sum() #no hay nulos.

QUOTE     0
AUTHOR    0
GENRE     0
dtype: int64

In [99]:
quotes['QUOTE']=quotes.QUOTE.apply(ins.remplazo_comas)

In [100]:
quotes['AUTHOR']=quotes.AUTHOR.apply(ins.remplazo_comas)

In [104]:
quotes.head()

                                               QUOTE         AUTHOR GENRE
0  Age is an issue of mind over matter. If you do...     Mark Twain   age
1  Anyone who stops learning is old, whether at t...     Henry Ford   age
2  Wrinkles should merely indicate where smiles h...     Mark Twain   age
3  True terror is to wake up one morning and disc...  Kurt Vonnegut   age
4  A diplomat is a man who always remembers a wom...   Robert Frost   age

In [71]:
autores=list(quotes.AUTHOR.unique())

In [72]:
len(autores)

11174

In [73]:
tipos=list(quotes.GENRE.unique())

In [74]:
len(tipos)

117

### Genero la conexión con el Engine:

In [76]:
password = getpass("Introduce tu contraseña: ")

Introduce tu contraseña: ········

In [77]:
db_name = "proyecto_sentiments2"
conect = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [78]:
engine = alch.create_engine(conect)

### Insertamos datos en MySQL:

In [80]:
for autor in autores:
    engine.execute(f"""
    INSERT INTO author(Nombre)
    VALUES ('{autor}');
    """
    )

In [81]:
for tipo in tipos:
    engine.execute(f"""
    INSERT INTO genre(Genre)
    VALUES ('{tipo}');
    """
    )

#### Obtenemos los ids de estas dos tablas anteriores para poder insertar los datos en la tabla de quotes:

In [83]:
autores_id=[]
for autor in autores:
    id_autor=list((ins.getId("author",autor),autor))
    autores_id.append(id_autor)

In [85]:
genre_id=[]
for tipo in tipos:
    id_genre=list((ins.getId("genre",tipo),tipo))
    genre_id.append(id_genre)

In [87]:
quotes["id_autor"] = quotes.AUTHOR.apply(ins.replace_author_id)

In [88]:
quotes["id_genre"] = quotes.GENRE.apply(ins.replace_genre_id)

In [89]:
quotes.head()

,QUOTE,AUTHOR,GENRE,id_autor,id_genre
0,Age is an issue of mind over matter. If you do...,Mark Twain,age,1,1
1,"Anyone who stops learning is old, whether at t...",Henry Ford,age,2,1
2,Wrinkles should merely indicate where smiles h...,Mark Twain,age,1,1
3,True terror is to wake up one morning and disc...,Kurt Vonnegut,age,3,1
4,A diplomat is a man who always remembers a wom...,Robert Frost,age,4,1

In [ ]:
for _, row in quotes.iterrows():
    try:
        engine.execute(f"""
        INSERT INTO quotes(Frases, AUTHOR_idAutor, GENRE_idGenre)
        VALUES ('{row["QUOTE"]}', {row["id_autor"]}, {row["id_genre"]});
        """)
    except:
         None

In [60]:
for _, row in quotes.iterrows():
    engine.execute(f"""
    INSERT INTO authors_several_genres(AUTHOR_idAutor, GENRE_idGenre)
    VALUES ({row["id_autor"]}, {row["id_genre"]});
    """)