In [56]:
import sqlalchemy as alch
import pandas as pd
from getpass import getpass

### Importo csv:

In [35]:
quotes = pd.read_csv("../data/Quotes2.csv", sep=";")

In [45]:
quotes.head()

                                               QUOTE         AUTHOR GENRE
0  Age is an issue of mind over matter. If you do...     Mark Twain   age
1  Anyone who stops learning is old, whether at t...     Henry Ford   age
2  Wrinkles should merely indicate where smiles h...     Mark Twain   age
3  True terror is to wake up one morning and disc...  Kurt Vonnegut   age
4  A diplomat is a man who always remembers a wom...   Robert Frost   age

In [37]:
quotes.shape

(75966, 3)

In [51]:
quotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75966 entries, 0 to 75965
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   QUOTE   75966 non-null  object
 1   AUTHOR  75966 non-null  object
 2   GENRE   75966 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB

In [55]:
pd.isna(quotes).sum() #no hay nulos.

QUOTE     0
AUTHOR    0
GENRE     0
dtype: int64

### Genero la conexión con el Engine:

In [57]:
password = getpass("Introduce tu contraseña: ")

Introduce tu contraseña: ········

In [59]:
db_name = "proyecto_sentiments"
conect = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [60]:
engine = alch.create_engine(conect)

### Insertamos datos en MySQL:

In [ ]:
import pyodbc
import pandas as pd
server = 'yourservername' 
database = "proyecto_sentiments"
username = 'username' 
password = 'yourpassword'

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+'UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

for index, row in df.iterrows():
cursor.execute("INSERT INTO dbo.mytable (A,B,C)values(?,?,?)", row.A, row.B, row.C)
cnxn.commit()
cursor.close()

In [ ]:
for index, row in quotes.iterrows():