In [18]:
import sqlalchemy as alch
import pandas as pd
from getpass import getpass

### Importo csv:

In [19]:
quotes = pd.read_csv("../data/Quotes2.csv", sep=";")

In [20]:
quotes.head()

                                               QUOTE         AUTHOR GENRE
0  Age is an issue of mind over matter. If you do...     Mark Twain   age
1  Anyone who stops learning is old, whether at t...     Henry Ford   age
2  Wrinkles should merely indicate where smiles h...     Mark Twain   age
3  True terror is to wake up one morning and disc...  Kurt Vonnegut   age
4  A diplomat is a man who always remembers a wom...   Robert Frost   age

In [21]:
quotes.shape

(75966, 3)

In [22]:
quotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75966 entries, 0 to 75965
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   QUOTE   75966 non-null  object
 1   AUTHOR  75966 non-null  object
 2   GENRE   75966 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB

In [23]:
pd.isna(quotes).sum() #no hay nulos.

QUOTE     0
AUTHOR    0
GENRE     0
dtype: int64

In [40]:
def remplazo_comas(frase):
    sin_comas=frase.replace("'","`")
    return sin_comas

In [57]:
quotes['QUOTE']=quotes.QUOTE.apply(remplazo_comas)

In [62]:
quotes['AUTHOR']=quotes.QUOTE.apply(remplazo_comas)

In [63]:
quotes.sample(10)

,QUOTE,AUTHOR,GENRE
1614,Whatever my individual desires were to be free...,Whatever my individual desires were to be free...,alone
15993,To make your children capable of honesty is th...,To make your children capable of honesty is th...,education
70550,"Truth is beautiful, without doubt but so are l...","Truth is beautiful, without doubt but so are l...",truth
36875,Get well cards have become so humorous that if...,Get well cards have become so humorous that if...,humor
9932,"There are women who make things better, there ...","There are women who make things better, there ...",change
72571,There`s a higher form of happiness in commitme...,There`s a higher form of happiness in commitme...,wedding
74936,The conventional definition of management is g...,The conventional definition of management is g...,work
7285,The hardest thing to understand in the world i...,The hardest thing to understand in the world i...,business
12803,"And, you know, my dad would show me some thing...","And, you know, my dad would show me some thing...",dad
71855,The tragedy of modern war is that the young me...,The tragedy of modern war is that the young me...,war

### Genero la conexión con el Engine:

In [64]:
password = getpass("Introduce tu contraseña: ")

Introduce tu contraseña: ········

In [65]:
db_name = "proyecto_sentiments"
conect = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [66]:
engine = alch.create_engine(conect)

### Insertamos datos en MySQL:

In [67]:
for _, row in quotes.iterrows():
    engine.execute(f"""
    INSERT INTO author(Nombre)
    VALUES ('{row['AUTHOR']}');
    """
    )

DataError: (pymysql.err.DataError) (1406, "Data too long for column 'Nombre' at row 1")
[SQL:
    INSERT INTO author(Nombre)
    VALUES ('Age is an issue of mind over matter. If you don`t mind, it doesn`t matter.');
    ]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

### Intentar hacer los endpoints con funciones de chequeo (como ha hecho ella en Mongo) y a ser posible con decoradores...