In [30]:
import sqlalchemy as alch
import pandas as pd

In [35]:
quotes = pd.read_csv("../data/Quotes2.csv", sep=";")

In [36]:
quotes.head()

                                               QUOTE         AUTHOR GENRE
0  Age is an issue of mind over matter. If you do...     Mark Twain   age
1  Anyone who stops learning is old, whether at t...     Henry Ford   age
2  Wrinkles should merely indicate where smiles h...     Mark Twain   age
3  True terror is to wake up one morning and disc...  Kurt Vonnegut   age
4  A diplomat is a man who always remembers a wom...   Robert Frost   age

In [37]:
quotes.shape

(75966, 3)