In [16]:
import sqlalchemy as alch
import pandas as pd
from getpass import getpass

#import src.insert_functions as ins

### Importo csv:

In [17]:
quotes = pd.read_csv("../data/Quotes2.csv", sep=";")

In [18]:
quotes.sample()

,QUOTE,AUTHOR,GENRE
44369,The death of anti-gay hate speech is no doubt ...,Jeffrey Kluger,marriage

In [19]:
quotes.shape

(75966, 3)

In [20]:
quotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75966 entries, 0 to 75965
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   QUOTE   75966 non-null  object
 1   AUTHOR  75966 non-null  object
 2   GENRE   75966 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB

In [21]:
pd.isna(quotes).sum() #no hay nulos.

QUOTE     0
AUTHOR    0
GENRE     0
dtype: int64

In [22]:
def remplazo_comas(frase):
    sin_comas=frase.replace("'","`")
    return sin_comas

In [23]:
quotes['QUOTE']=quotes.QUOTE.apply(remplazo_comas)

In [24]:
quotes['AUTHOR']=quotes.AUTHOR.apply(remplazo_comas)

In [26]:
quotes.head()

                                               QUOTE         AUTHOR GENRE
0  Age is an issue of mind over matter. If you do...     Mark Twain   age
1  Anyone who stops learning is old, whether at t...     Henry Ford   age
2  Wrinkles should merely indicate where smiles h...     Mark Twain   age
3  True terror is to wake up one morning and disc...  Kurt Vonnegut   age
4  A diplomat is a man who always remembers a wom...   Robert Frost   age

In [27]:
autores=list(quotes.AUTHOR.unique())

In [28]:
len(autores)

11174

In [29]:
tipos=list(quotes.GENRE.unique())

In [30]:
len(tipos)

117

### Genero la conexión con el Engine:

In [32]:
#Todo esto lo he metido en configuration.py

In [33]:
password = getpass("Introduce tu contraseña: ")

Introduce tu contraseña: ········

In [34]:
db_name = "proyecto_sentiments2"
conect = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [35]:
engine = alch.create_engine(conect)

### Insertamos datos en MySQL:

In [ ]:
#NO VOLVER A EJECUTAR!!!!!!

In [47]:
for autor in autores:
    engine.execute(f"""
    INSERT INTO author(Nombre)
    VALUES ('{autor}');
    """
    )

In [ ]:
#NO VOLVER A EJECUTAR!!!!!!

In [48]:
for tipo in tipos:
    engine.execute(f"""
    INSERT INTO genre(Genre)
    VALUES ('{tipo}');
    """
    )

#### Obtenemos los ids de estas dos tablas anteriores para poder insertar los datos en la tabla de quotes:

In [49]:
def getId(tabla,string):
    """
    Devuelve el ID de lo que le pidamos.
    """
    if tabla == "author":
        return list(engine.execute(f"SELECT idautor FROM author WHERE nombre ='{string}';"))[0][0]
    elif tabla == "genre":
        return list(engine.execute(f"SELECT idGenre FROM genre WHERE genre ='{string}';"))[0][0]

In [50]:
#autores

In [51]:
autores_id=[]
for autor in autores:
    id_autor=list((getId("author",autor),autor))
    autores_id.append(id_autor)

In [52]:
def replace_author_id(x):
    for au in range(len(autores_id)):
        if x == (autores_id[au][1]):
            return autores_id[au][0]

In [53]:
genre_id=[]
for tipo in tipos:
    id_genre=list((getId("genre",tipo),tipo))
    genre_id.append(id_genre)

In [54]:
#genre_id

In [55]:
def replace_genre_id(x):
    for g in range(len(genre_id)):
        if x == (genre_id[g][1]):
            return genre_id[g][0]

In [56]:
quotes["id_autor"] = quotes.AUTHOR.apply(replace_author_id)

In [57]:
quotes["id_genre"] = quotes.GENRE.apply(replace_genre_id)

In [58]:
quotes.head()

,QUOTE,AUTHOR,GENRE,id_autor,id_genre
0,Age is an issue of mind over matter. If you do...,Mark Twain,age,1,1
1,"Anyone who stops learning is old, whether at t...",Henry Ford,age,2,1
2,Wrinkles should merely indicate where smiles h...,Mark Twain,age,1,1
3,True terror is to wake up one morning and disc...,Kurt Vonnegut,age,3,1
4,A diplomat is a man who always remembers a wom...,Robert Frost,age,4,1

In [59]:
for _, row in quotes.iterrows():
    try:
        engine.execute(f"""
        INSERT INTO quotes(Frases, AUTHOR_idAutor, GENRE_idGenre)
        VALUES ('{row["QUOTE"]}', {row["id_autor"]}, {row["id_genre"]});
        """)
    except:
         None

In [60]:
for _, row in quotes.iterrows():
    engine.execute(f"""
    INSERT INTO authors_several_genres(AUTHOR_idAutor, GENRE_idGenre)
    VALUES ({row["id_autor"]}, {row["id_genre"]});
    """)